

    <h1>Flug suchen</h1>
    
    <form #f="form">
        
        <div class="form-group">
            <label for="von">Von: </label>
            <input city ng-control="von" type="text" [(ng-model)]="filter.von" required class="form-control">
            
            <div *ng-if="!f.controls.von.valid">Zielort nicht gültig.</div>
            <div *ng-if="f.controls.von.hasError('required')">Zielort ist ein Pflichtfeld.</div>
            <div *ng-if="f.controls.von.hasError('city')">Stadt wird nicht angeflogen.</div>


        </div>

        <div class="form-group">
            <label for="nach">Nach: </label>
            <input ng-control="nach" type="text" [(ng-model)]="filter.nach" required class="form-control">

            <div *ng-if="!f.controls.nach.valid">Zielort nicht gültig.</div>
            <div *ng-if="f.controls.nach.hasError('required')">Zielort ist ein Pflichtfeld.</div>

        </div>

        <div class="form-group">
            <input type="button" [disabled]="!f.valid" value="Suchen" (click)="flugSuchen(f)" class="btn">
        </div>

    </form>

    <div *ng-if="message" class="alert alert-info alert-dismissible" >
        {{ message }}
    </div>
    
    <table class="table table-striped" *ng-if="fluege.length != 0">

        <thead>
        <tr>
            <th>Id</th>
            <th>Datum</th>
            <th>Von</th>
            <th>Nach</th>
            <th>Aktion</th>
        </tr>
        </thead>

        <tbody>
            
            <tr *ng-for="#flug of fluege" [class.info]="selectedFlug == flug">

                <td>{{flug.id}}</td>
                <td>{{flug.datum.substr(0,10)}}</td>
                <td>{{flug.abflugort}}</td>
                <td>{{flug.zielort}}</td>

                <td>
                    <a href="javascript:void(0)" (click)="selectFlug(flug)">Auswählen</a> |
                    <a href="javascript:void(0)" [router-link]="['/flugEdit', {id: flug.id}]">Editieren</a>
                
                </td>
                

            </tr>

        </tbody>

    </table>


