<div class="container">

    <h1>Search Flights</h1>
    
    <form #f="form">
        
        <div class="form-group">
            <label for="from">From: </label>
            <input id="from" ng-control="from" type="text" [(ng-model)]="filter.from" required city class="form-control">
            
            <div *ng-if="!f.controls.from.valid">City not valid!</div>
            <div *ng-if="f.controls.from.hasError('required')">From is required.</div>
            <div *ng-if="f.controls.from.hasError('city')">We don't fly to this city.</div>
        </div>

        <div class="form-group">
            <label for="to">To: </label>
            <input id="to" ng-control="to" type="text" [(ng-model)]="filter.to" required class="form-control">

            <div *ng-if="!f.controls.to.valid">City not valid</div>
            <div *ng-if="f.controls.to.hasError('required')">To is required.</div>
        </div>

        <div class="form-group">
            <input type="button" [disabled]="!f.valid" value="Search" (click)="searchFlight()" class="btn">
        </div>

    </form>

    <div *ng-if="message" class="alert alert-info alert-dismissible" >
        {{ message }}
    </div>
    
    <table class="table table-striped" *ng-if="flights.length != 0">

        <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>From</th>
            <th>To</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
            
            <tr *ng-for="#flight of flights" [class.info]="selectedFlight == flight">

                <td>{{flight.id}}</td>
                <td>{{flight.datum.substr(0,10)}}</td>
                <td>{{flight.abflugort}}</td>
                <td>{{flight.zielort}}</td>

                <td><a href="javascript:void(0)" (click)="selectFlight(flight)">Select</a></td>
            </tr>

        </tbody>

    </table>

</div>
